<h1>Welcome to Discus! 🎉</h1>

<h3>Get started:</h3>
<p>Go to the <%= link_to t('messageboard'), thredded.root_path %> and get started! </p>
  <p>This platform has a few functions:</p>

  <ul>
    <li>
      <p>
        <code><b>HaCK club:</b></code>
        Members from the HaCK club are encouraged to ask programming questions and share code/ ideas here!
      </p>
    </li>
    <li>
      <p><b>AP Chemistry Questions:</b>
        AP Chemistry questions or notes can be asked, answered and shared on the <%= link_to t('messageboard'), thredded.root_path %>. We can also message each other or check whose online to get help quicker and easier.
      </p>
    </li>
    <li>
      <p><b>Random Stuff:</b>
        Anything cool is welcomed here!
      </p>
    </li>
  </ul>
 <hr>

  <h3>Cool facts</h3>
  <p>This forum runs on:</p>
  <ul>
    <li><%= ActiveRecord::Base.connection.adapter_name %> database.</li>
    <li>
      <a href="http://rubyonrails.org/">Ruby on Rails</a>
      v<%= Rails::VERSION::STRING %>.
    </li>
    <li>
      <a href="https://github.com/plataformatec/devise">Devise</a>
      4.2.0 for authentication.
    </li>

    <li>
      <a href="https://github.com/thredded/thredded">Thredded</a>
      v<%= Thredded::VERSION %> as the forums engine.
    </li>
  </ul>
  <hr>
  <p>Built by <a href="https://chenchisan.com">Chi San Chen © 2016 - 2200</a></p>
